.container {
    padding: 20px;
}
.search-bar {
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
    border-radius: 25px;
    padding: 10px;
    margin-bottom: 20px;
}
.search-bar input {
    border: none;
    background: none;
    outline: none;
    flex: 1;
    padding-left: 10px;
}
.search-bar i {
    color: #888;
}
.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.tag {
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    border-radius: 10px;
    overflow: hidden;
    width: calc(50% - 10px);
    margin-bottom: 20px;
}
.tag img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}
.tag-text {
    padding: 10px;
    flex: 1;
}
.tag-text p {
    margin: 0;
}
.tag-text p:first-child {
    font-weight: bold;
}


.text-left {
    text-align: left;
    margin: 0;
    font-weight: bold;
    color: #4f4e4e;
  }

  .w-25{
    width:25px;
    padding:0;
    text-align: right;
    background-color: #f1f1f1;
    padding: 10px;;
  }