.main-photo-section {
    position: relative;
    height: 70vh; 
    background-image: url('https://i0.wp.com/picjumbo.com/wp-content/uploads/free-abstract-website-background-free-photo.jpg?w=2210&quality=70'); /* Update with the correct path */
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  }
  
  /* .home{
    /* margin-top:200px; 
  } */
  .transparent-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5); 
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  
  header {
    font-size: 0.75rem; 
    padding-top: 0px;
    background-color: #333; 
    color: white;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    
  }

  .about-us-section {
    background-color: #003366; 
    color: white;
  }

  .services-container {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    flex-wrap: wrap;
  }
  
  .service-box {
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    width: 100%;
    max-width: 300px; 
    margin: auto;
    margin-bottom: 1.5rem;
  }
  
  .service-box img {
    width: 100%;
    height: 200px; 
    object-fit: cover;
  }
  
  .service-content {
    padding: 1rem;
  }
  
  .service-content h3 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    text-align: center;
  }
  
  .service-content p {
    font-size: 1rem;
    color: #555;
  }
  
  .service-box:hover {
    transform: translateY(-10px);
  }
 
  @media (max-width: 768px) {
    .services-container {
      flex-direction: column;
      align-items: center;
    }
  
    .service-box {
      width: 100%;
      max-width: 100%;
    }
  }