.about-us-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #051652;
    padding: 20px;
    margin-top: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
  }
  
  .text-justify{
    text-align: justify;
  }
  
  .about-us-content {
    flex: 1;
    padding-right: 20px;
  }
  
  .about-description {
    font-size: 1rem;
    color: #eee3e3;
    line-height: 1.5;
    text-align: left;
    margin-bottom: 100px;
  }
  
  .about-us-carousel {
    flex: 1;
    max-width: 300px;
  }
  
  .about-us-carousel img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
  }
  
  @media (max-width: 768px) {
    .about-us-container {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .about-us-content {
      padding-right: 0;
      margin-bottom: 20px;
    }
  
    .about-us-carousel {
      max-width: 100%;
    }
  }
  